{% extends "snclassifier_djangoapp/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'snclassifier_djangoapp/about.css' %}"/>
    <head>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PGW9GLRQ');</script>
            <!-- End Google Tag Manager -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Контакты</title>
    </head>
    <body>
        <p>
            email: aiprojectaiproject654@gmail.com
            <br>
            LinkedIn:
            <br>
            <a href="https://www.linkedin.com/in/danil-nemtsev/" class="linkedin_Danil" target="_blank">Danil Nemtsev</a>
            <br>
            <a href="https://www.linkedin.com/in/molchanovpv/" class="linkedin_Pavel" target="_blank">Pavel Molchanov</a>
        </p>
                    <!-- Google Tag Manager (noscript) -->
                    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGW9GLRQ"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                        <!-- End Google Tag Manager (noscript) -->
    </body>
{% endblock %}